@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', serif;
  overflow-x: hidden; 
}

.container {
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto; 
}




.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}




